* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #fafafa;
  color: #3b3b3b;
}

body h2 {
  font-weight: bold;
  margin: 16px 0;
}

input,
textarea {
  padding: 12px;
  margin: 12px 0;
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  color: #737275;
  border-radius: 6px;
  border: 2px solid #2290da75;
}

input:focus,
textarea:focus {
  outline: 2px solid #2290da;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
  font-weight: 500;
}

.note-app__header {
  padding: 4px 0;
  background-color: #fafafa;
  box-shadow: 1px 2px 3px 4px rgba(20, 20, 20, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.note-app__header > div {
  padding: 16px auto;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
}

.note-app__header a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

.note-app__header h1 {
  font-family: 'Pacifico', cursive;
  margin: 8px 0;
  color: #2290da;
}

.note-search input {
  width: 140px;
  border-radius: 12px;
  transition: all 0.2s linear;
}

.note-search input:focus {
  outline: 2px solid #2290da;
}

.note-search input::placeholder {
  font-weight: 500;
}

.note-app__body {
  max-width: 1000px;
  margin: 120px 20px 8px 20px;
}

.modal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal--hidden {
  display: none;
}

.note-input,
.delete-confirmation {
  background-color: #fafafa;
  box-shadow: 1px 2px 3px 4px rgba(20, 20, 20, 0.03);
  border-radius: 6px;
  max-width: 490px;
  padding: 20px;
  width: 90%;
  position: relative;
}

.note-input h2,
.delete-confirmation h2 {
  margin-top: 0;
}

.note-input .material-icons,
.delete-confirmation .material-icons {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
}

.note-input input,
.note-input textarea {
  display: block;
  width: 100%;
  resize: none;
}

.note-input__title {
  font-weight: bold;
  margin-top: 4px;
}

.note-input__title-limit,
.note-input__body-limit {
  font-size: 12px;
  color: #737275;
}

.note-input__body {
  min-height: 175px;
  margin-top: 4px;
}

.note-input button {
  display: block;
  width: 100%;
  padding: 14px 8px;
  background-color: #2290da;
  font-family: 'Inter', sans-serif;
  color: white;
  border: 0;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.note-input button:hover {
  background-color: #1d79b6;
}

.delete-confirmation {
  text-align: center;
  max-width: 360px;
}

.delete-confirmation p {
  margin-bottom: 14px;
}

.delete-confirmation button {
  font-size: 16px;
  padding: 10px 16px;
  margin: 0 6px;
  border-radius: 6px;
  cursor: pointer;
}

.delete-confirmation #cancel-delete-button {
  background-color: #fafafa;
  border: 2px solid #2290da;
  transition: all 0.3s ease;
}

.delete-confirmation #cancel-delete-button:hover {
  background-color: #eeeeee;
}

.delete-confirmation #confirm-delete-button {
  background-color: #2290da;
  color: #ffffff;
  border: 2px solid #2290da;
  transition: all 0.3s ease;
}

.delete-confirmation #confirm-delete-button:hover {
  background-color: #1d79b6;
  border-color: #1d79b6;
}

.notes-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
  margin-bottom: 48px;
}

.notes-list__empty-message {
  text-align: center;
  color: #737275;
}

.note-item {
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 1px 2px 3px 4px rgba(20, 20, 20, 0.03);
  min-height: 250px;
}

.note-item__content {
  padding: 12px;
  flex: 1;
}

.note-item__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
  color: #3b3b3b;
}

.note-item__date {
  font-size: 12px;
  padding-bottom: 6px;
  color: #737275;
  border-bottom: 1px solid rgb(223, 223, 223);
}

.note-item__body {
  font-size: 14px;
  padding-top: 10px;
  word-wrap: break-word;
}

.note-item__action {
  display: flex;
}

.note-item__delete-button,
.note-item__archive-button {
  display: block;
  width: 100%;
  background-color: #2290da;
  border: 0;
  padding: 8px 0;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.note-item__delete-button {
  border-right: 1px solid rgba(255, 255, 255, 0.75);
  color: white;
  transition: all 0.3s ease;
}

.note-item__archive-button {
  color: white;
  transition: all 0.3s ease;
}

.note-item__archive-button:hover {
  background-color: #1d79b6;
}

.note-item__delete-button:hover {
  background-color: #1d79b6;
}

.note-add-button {
  opacity: 75%;
  color: #2290da;
  border-radius: 6px;
  border: dashed 3px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  box-shadow: 1px 2px 3px 4px rgba(20, 20, 20, 0.03);
  cursor: pointer;
  min-height: 250px;
}

.note-add-button .material-icons {
  font-size: 80px;
  margin: 20px 0;
}

.note-add-button:hover {
  opacity: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}

.note-add-button a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

.material-icons {
  font-size: 20px;
}

@media only screen and (min-width: 576px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }

  .note-search input {
    width: 180px;
  }

  .note-search input:focus {
    width: 260px;
  }
}

@media only screen and (min-width: 768px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .note-item {
    min-height: 275px;
  }
  .note-add-button {
    min-height: 275px;
  }

  .note-search input:focus {
    width: 480px;
  }
}

@media only screen and (min-width: 1080px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
  .note-app__header > div {
    margin: auto;
  }
  .note-app__body {
    margin: 120px auto 16px auto;
  }
}
